body {
	height: 100vh;
	width: 100%;
}

.container {
	height: 100vh;
	max-width: 850px;
	margin: 0 auto;
}

.memory-cards {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;

}

.memory-card {
	margin: 0.5%;
	cursor: pointer;
	position: relative;
	width: 100%;
	max-width: 24%;
	height: 150px;
}

.memory-card:hover {
	transform: translate(-5%, -5%);
	transition: 0.3s;
}

.memory-card.active > .frond-card {
	transform: perspective(600px) rotateY(-180deg);
	transition: 0.5s linear;
}

.memory-card.active > .back-card {
	transform: perspective(600px) rotateY(0deg);
	transition: 0.5s linear;
}

.frond-card, .back-card {
	backface-visibility: hidden;
	border-radius: 12%;
	position: absolute;	
	width: 100%;
	height: 100%;
	transition: 0.5s linear;
}

.frond-card {
	transform: perspective(600px) rotateY(0deg);
	background-color: #403e3e;
}

.frond-card__img {
	position: absolute;
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.back-card {
	transform: perspective(600px) rotateY(180deg);
	background-color: #86bdfb;
}



.back-card__img {
	position: absolute;
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}